body, html {
    width: 90%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://i.ibb.co/7kXGVTc/Whats-App-Image-2024-02-15-at-18-42-36-5907f190.jpg');
    background-size: cover;
    background-position: center; /* Ensures the image is centered */
    z-index: -1;
    animation: pulseBackground 5s infinite alternate;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    body::before {
        background-size: cover; /* Cover ensures the background covers the area */
        background-position: center center; /* Adjusts the position to ensure the focus of the image is centered */
    }
}

@keyframes pulseBackground {
    0% {
        transform: scale(1.0); /* Original size */
    }
    50% {
        transform: scale(1.05); /* Slightly larger */
    }
    100% {
        transform: scale(1.0); /* Return to original size */
    }
}

        #overlay {
            background-color: rgba(0, 0, 0, 0.8);
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: none;
            justify-content: center;
            align-items: center;
        }
        .table-container {
            background: #040404;
            border-radius: 8px;
            padding: 20px;
            width: 90%;
            max-width: 600px;
            box-shadow: 0 4px 6px rgba(0,0,0,0.1);
            transition: opacity 1s ease-in-out;
            opacity: 0;
        }
    
        /* Responsive adjustments */
        @media (max-width: 768px) {
            .table-container {
                padding: 10px;
                width: 95%;
            }
            p, ol, li {
                font-size: 12px;
            }
            .table-container img {
                max-width: 120px; /* Smaller images for smaller screens */
                height: auto;
            }
        }

        #click-message {
            position: absolute;
            top: 70%; /* Center vertically */
            left: 50%; /* Center horizontally */
            transform: translate(-50%, -50%); /* Adjust position to truly center */
            font-size: 24px; /* Adjust size as needed */
            color: #FFBF00; /* Amber color */
            font-family: 'Inter', sans-serif;
            animation: fadeInOut 2s infinite; /* Apply the animation */
            z-index: 2; /* Ensure it's visible above the background */
            font-weight: bold;
        }
        
        @keyframes fadeInOut {
            0%, 100% { opacity: 0; }
            50% { opacity: 1; }
        }
        